html {
  margin: auto;
  max-width: 1400px;
  padding: none; }
  html .container-fluid {
    max-width: 1400px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px; }
  html body {
    /*
 * Custom translucent site header
 */ }
    html body h1 {
      font-family: 'Playfair Display', serif !important;
      font-weight: 700 !important;
      font-size: 60px !important;
      color: #505050 !important; }
    html body h2 {
      font-family: 'Playfair Display', serif !important;
      font-weight: 700 !important;
      font-size: 40px !important;
      color: #505050 !important; }
    html body p {
      font-family: 'Inter', sans-serif !important;
      color: #505050 !important;
      font-weight: 400 !important; }
    html body nav {
      border-bottom: 1px solid #505050; }
      html body nav .topnavlinks {
        color: #505050; }
      html body nav .site-header {
        margin-left: 0px;
        margin-right: 0px; }
    html body .hero-container {
      background-image: linear-gradient(to right, #5ECDC6, #FFE2E8);
      margin-left: 0px;
      margin-right: 0px; }
      html body .hero-container .headshot {
        margin: auto; }
      html body .hero-container .headshotimg {
        align-content: center;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        padding-left: 8rem;
        padding-right: 8rem; }
      html body .hero-container .herotext {
        text-align: left; }
        html body .hero-container .herotext p.herosub {
          font-family: 'Inter', sans-serif;
          color: #505050;
          font-size: 1.25rem;
          font-weight: 400; }
    html body .about-container {
      margin-bottom: 0px; }
      html body .about-container .abouttext {
        padding-left: 8rem; }
      html body .about-container .abouttitle {
        padding-top: 2rem; }
      html body .about-container .aboutsub {
        font-family: 'Inter', serif !important;
        font-weight: 400 !important;
        font-size: 15px !important;
        color: #505050 !important;
        line-height: 30px; }
      html body .about-container #wkname {
        font-weight: 700; }
    html body .cards-container .work-container {
      padding-left: 0px;
      padding-right: 0px; }
    html body .cards-container .resume-container {
      padding-left: 0px;
      padding-right: 0px; }
    html body .cards-container .lead {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    html body .cards-container h2.leadtitle {
      color: white !important; }
    html body .cards-container p.leadsub {
      color: white !important;
      font-weight: 500 !important;
      font-size: 16px; }
    html body .contact-container {
      background-color: #505050;
      padding-top: 2rem;
      padding-bottom: 2rem; }
      html body .contact-container h2.contacttitle {
        color: #5ECDC6 !important; }
      html body .contact-container .contactsub {
        color: #FE829A !important;
        transition: ease-in-out color .15s; }
    html body footer {
      background-color: black;
      padding-bottom: 8rem; }
      html body footer .text-muted {
        color: white !important; }
      html body footer p#copyright {
        color: #5ECDC6 !important;
        font-family: 'Inter', sans-serif !important;
        font-weight: 400;
        font-size: 14px;
        line-height: 0px; }
      html body footer li a {
        color: #5ECDC6;
        font-family: 'Inter', sans-serif !important;
        font-weight: 400;
        font-size: 14px; }
    html body .site-header {
      background-color: rgba(0, 0, 0, 0);
      -webkit-backdrop-filter: saturate(180%) blur(20px);
      backdrop-filter: saturate(180%) blur(20px); }
    html body .site-header a {
      color: #505050;
      transition: ease-in-out color .15s; }
    html body .site-header a:hover {
      color: #5ECDC6;
      text-decoration: none;
      border-bottom: 3px solid #5ECDC6;
      /*
 * Extra utilities
 */ }
      html body .site-header a:hover .site-header a:active {
        color: #94EEB8;
        text-decoration: none;
        border-bottom: 3px solid #94EEB8; }
      html body .site-header a:hover .navlinks {
        float: right;
        display: block; }
      html body .site-header a:hover .flex-equal > * {
        -ms-flex: 1;
        flex: 1; }
      @media (min-width: 768px) {
        html body .site-header a:hover .flex-md-equal > * {
          -ms-flex: 1;
          flex: 1; } }
      html body .site-header a:hover .overflow-hidden {
        overflow: hidden; }
